<h2>Utilizatori</h2>

<button (click)="onClickGetUtilizatori()">Utilizatori</button>

<!-- Get Utilizatori -->
<div *ngIf="utilizatori.length > 0">
    <h3>Utilizatori</h3>
    <ul>
        <li *ngFor="let utilizator of utilizatori">
            UserName: {{ utilizator.userName }}
        </li>
    </ul>
</div>

<!-- Get utilizator dupa id -->
<form [formGroup]="form" (ngSubmit)="onClickGetUtilizatorId()">
    <label for="idInput">Id: </label> 
    <input type="text" id="idInput" formControlName="idInput" placeholder="Introduceti id">
    <button type="submit">Cauta</button>
</form>

<p *ngIf="utilizator">UserName: {{ utilizator.userName }}</p>

<!-- Get utilizator cu date din profil -->
<form [formGroup]="form2" (ngSubmit)="onClickGetUtilizatorProfil()">
    <label for="userNameInput">UserName: </label>
    <input type="text" id="userNameInput" formControlName="userNameInput" placeholder="Introduceti UserName">
    <button type="submit">Cauta</button>
</form>

<p *ngIf="utilizatorProfil">
    UserName: {{ utilizatorProfil.userName }}
    Nume: {{ utilizatorProfil.nume }}
    Prenume: {{ utilizatorProfil.prenume }}
</p>

<!-- Sterge utilizator de admin -->
<form [formGroup]="formDelete" (ngSubmit)="onClickDeleteUtilizator()">
    <label for="userNameInput">UserName: </label>
    <input type="text" id="userNameInput" formControlName="userNameInput" placeholder="Introduceti UserName">
    <button type="submit">Sterge</button>
</form>

<router-outlet></router-outlet>