<h2>Profiluri</h2>

<!-- Get profiluri -->
<button (click)="onClickGetProfiluri()">Profiluri</button>

<div *ngIf="profiluri.length > 0">
    <h3>Profiluri:</h3>
    <ul>
      <li *ngFor="let profil of profiluri">
        Nume: {{ profil.nume }} Prenume: {{ profil.prenume }}
        Bio:  {{ profil.bio }}
        Articole favorite: 

        <ul>
          <li *ngFor="let articol of profil.articole">
            Articol: {{ articol.titlu }}
          </li>
        </ul>
      </li>
    </ul>
</div>

<!-- Get utilizator cu date din profil -->
<form [formGroup]="formUtilizator" (ngSubmit)="onClickGetUtilizatorProfil()">
  <label for="userNameInput">UserName: </label>
  <input type="text" id="userNameInput" formControlName="userNameInput" placeholder="Introduceti UserName">
  <button type="submit">Cauta</button>
</form>

<p *ngIf="utilizatorProfil">
  UserName: {{ utilizatorProfil.userName }}
  Nume: {{ utilizatorProfil.nume }}
  Prenume: {{ utilizatorProfil.prenume }}
</p>

<!-- Get profil dupa id -->
<form *ngIf="getRoluri().includes('Admin')" [formGroup]="form" (ngSubmit)="onClickGetProfilId()">
    <label for="idInput">Id: </label>
    <input type="text" id="idInput" formControlName="idInput" placeholder="Introduceti id" />
    <button type="submit">Cauta</button>
</form>

<p *ngIf="profil">Nume: {{ profil.nume }} Prenume: {{ profil.prenume }} Bio: {{ profil.bio }} Articole favorite:</p>

<ul *ngIf="profil">
  <li *ngFor="let articol of profil.articole">
    Articole: {{ articol.titlu }}
  </li>
</ul>

<!-- Modifica profil -->
<form *ngIf="verifAutentificare()" [formGroup]="formPut" (ngSubmit)="onClickPutProfil()">
  <label for="numeInput">Nume: </label>
  <input type="text" id="numeInput" formControlName="numeInput" placeholder="Introduceti nume" />

  <label for="prenumeInput">Prenume: </label>
  <input type="text" id="prenumeInput" formControlName="prenumeInput" placeholder="Introduceti prenume" />

  <label for="bioInput">Bio: </label>
  <input type="text" id="bioInput" formControlName="bioInput" placeholder="Introduceti bio" />

  <button type="submit">Modifica</button>
</form>

<!-- Creaza profil -->
<form [formGroup]="formPost" (ngSubmit)="onClickPostProfil()">
  <label for="numeInput">Nume: </label>
  <input type="text" id="numeInput" formControlName="numeInput" placeholder="Introduceti nume" />

  <label for="prenumeInput">Prenume: </label>
  <input type="text" id="prenumeInput" formControlName="prenumeInput" placeholder="Introduceti prenume" />

  <label for="bioInput">Bio: </label>
  <input type="text" id="bioInput" formControlName="bioInput" placeholder="Introduceti bio" />

  <button type="submit">Creaza</button>
</form>

<!-- Sterge profil de admin -->
<form *ngIf="getRoluri().includes('Admin')" [formGroup]="formDelete" (ngSubmit)="onClickDeleteProfil()">
  <label for="idInput">Id: </label>
  <input type="text" id="idInput" formControlName="idInput" placeholder="Introduceti id-ul" />

  <button type="submit">Sterge</button>
</form>

<!-- Sterge profil de catre utilizator -->
<button *ngIf="verifAutentificare()" (click)="onClickDeleteProfilUtilizator()">Sterge profilul</button>
