.profiluri {
    margin-left: 6%;
}

.form {
    margin-left: 8%;
}

form {
    button {
        background-color: indigo;
        border: none;
        color: white;
        height: 21px;
        border-radius: 5%;
        margin-left: 2px;
    }

    button:hover {
        background-color: purple;
    }
}

p {
    margin-left: 8%;
}

.articole-profil {
    margin-left: 8%;
}