<h2>Articole</h2>
<!-- Get Articole -->
<button class="simple-button" (click)="onClickGetArticole()">Articole</button>

<div class="articole" *ngIf="articole.length > 0">
    <h3>Articole:</h3>
    <ul>
      <li *ngFor="let articol of articole">
        <strong>{{ articol.titlu }}</strong> - {{ articol.continut }}
      </li>
    </ul>
  </div>

<!-- Get Articole grupate -->
<button class="simple-button" (click)="onClickGetArticoleGrupate()">Articole grupate</button>

<div class="articole" *ngFor="let utilizatorDto of articolUtilizatorDtoList">
  <h3>{{ utilizatorDto.userName }}</h3>
  <ul>
    <li *ngFor="let articol of utilizatorDto.articole">
      {{ articol.titlu }} - {{ articol.continut }}
    </li>
  </ul>
</div>

<!-- Get articol dupa titlu -->
<form class="form" [formGroup]="form" (ngSubmit)="onClickGetArticolTitlu()">
  <label for="titluInput">Titlu:</label>
  <input type="text" id="titluInput" formControlName="titluInput" placeholder="Introduceti titlu" />
  <button type="submit">Cauta</button>
</form>

<p class="articol" *ngIf="articol">Titlu: {{ articol.titlu }}, Continut: {{ articol.continut }}</p>

<!-- Get articole dupa autor -->
<form class="form" [formGroup]="form2" (ngSubmit)="onClickGetArticoleAutor()">
  <label for="autorInput">Autor:</label>
  <input type="text" id="autorInput" formControlName="autorInput" placeholder="Introduceti autorul" />
  <button type="submit">Cauta</button>
</form>

<div class="articole" *ngIf="articole2.length > 0">
  <h3>Articole:</h3>
  <ul>
    <li *ngFor="let articol of articole2">
      <strong>{{ articol.titlu }}</strong> - {{ articol.continut }}
    </li>
  </ul>
</div>

<!-- Modifica articol -->
<form class="form" *ngIf="getRoluri().includes('Autor')" [formGroup]="formPut" (ngSubmit)="onClickPutArticol()">
  <label for="titluInput">Titlu original: </label>
  <input type="text" id="titluInput" formControlName="titluInput" placeholder="Introduceti titlul"/>

  <label for="titluModificatInput">Titlu nou: </label>
  <input type="text" id="titluModificatInput" formControlName="titluModificatInput" placeholder="Introduceti noul titlu"/>

  <label for="continutModificatInput">Continut nou: </label>
  <input type="text" id="continutModificatInput" formControlName="continutModificatInput" placeholder="Introduceti continutul"/>

  <button type="submit">Modifica</button>
</form>

<!-- Adauga articol la profil -->
<form class="form" [formGroup]="formPut2" (ngSubmit)="onClickPutArticolProfil()">
  <label for="titluInput">Titlu: </label>
  <input type="text" id="titluInput" formControlName="titluInput" placeholder="Introduceti titlul"/>

  <button type="submit">Adauga la favorite</button>
</form>

<!-- Adauga articol -->
<form class="form" *ngIf="getRoluri().includes('Autor')" [formGroup]="formPost" (ngSubmit)="onClickPostArticol()">
  <label for="titluInput">Titlu: </label>
  <input type="text" id="titluInput" formControlName="titluInput" placeholder="Introduceti titlul"/>

  <label for="continutInput">Continut : </label>
  <input type="text" id="continutInput" formControlName="continutInput" placeholder="Introduceti continutul"/>

  <button type="submit">Adauga</button>
</form>

<!-- Sterge articol de admin -->
<form class="form" *ngIf="getRoluri().includes('Admin')" [formGroup]="formDelete" (ngSubmit)="onClickDeleteArticol()">
  <label for="idInput">Id: </label>
  <input type="text" id="idInput" formControlName="idInput" placeholder="Introduceti id-ul"/>

  <button type="submit">Sterge</button>
</form>

<!-- Sterge articol de catre autor -->
<form class="form" *ngIf="getRoluri().includes('Autor')" [formGroup]="formDeleteAutor" (ngSubmit)="onClickDeleteArticolAutor()">
  <label for="titluInput">Titlu: </label>
  <input type="text" id="titluInput" formControlName="titluInput" placeholder="Introduceti titlul"/>

  <button type="submit">Sterge</button>
</form>