<form [formGroup]="form" (ngSubmit)="onClickLogin()">
    <label for="userNameInput">Username</label>
    <input type="text" id="userNameInput" formControlName="userNameInput" placeholder="Username">

    <label for="passwordInput">Parola</label>
    <input type="text" id="passwordInput" formControlName="passwordInput" placeholder="Parola">

    <button type="submit">Login</button>
</form>

<p *ngIf="invalidLogin">{{ mesajEroare }}</p>

<button (click)="onClickLogout()">Logout</button>

<router-outlet></router-outlet>