#schimba-parola {
    margin: 10px 10px;
}

button {
    background-color: indigo;
    border: none;
    border-radius: 5%;
    color: white;
    height: 22px;
    margin-left: 1px;
}

button:hover {
    background-color: purple;
}